header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('/img/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.center-back {
  margin: 0 auto;
  max-width: 680px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.center-bar .center-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.center-bar .center-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  height: 180px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 1rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration:none !important;
}
.rating_number {
  border: 0;
}

input[type="range"] {
  border: 0;
  padding-right: 1em !important;
  padding: 1em;
  background-color: #fff;
  height: auto;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none; /*移除選取圓點預設樣式 */
  background: linear-gradient(#b16060, #9198e5);
  border: 1px solid #E0E0E0;
  border-radius: 50%;
}

.form-control:valid {
  background: #fff !important;
}

.pointer {
  pointer-events: none;
}

.btn-delete {
  color: #0d6efd;
  padding: 0 5px 5px 5px;
}

.btn-delete:hover {
  color: #0A5CC6;
}

.btn-major {
  color: #fff !important;

}

.bigger:hover {
  transform: scale(1.1)
}

@media screen and (max-width: 992px) {

  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {

  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {

  .card img{
    height: auto;
  }

}

